- 해당 페이지 수행해봄! 
    - https://psystat.tistory.com/114 
    - https://github.com/sharebook-kr/pykrx

## 씨젠 지금까지 데이터로 다음날 상승 확률 계산해보기

In [1]:
from pykrx import stock

In [3]:
stock.get_market_ticker_name("096530")

'씨젠'

In [14]:
train_price = stock.get_market_ohlcv_by_date(fromdate="20200808",todate="20210808",ticker="096530")

In [15]:
train_price.shape

(247, 5)

In [16]:
train_price.head()

                시가      고가      저가      종가      거래량
날짜
2020-08-10  155141  161926  152276  156147  1161698
2020-08-11  150668  157252  150065  150769  1099626
2020-08-12  152930  154437  137652  144638  2017362
2020-08-13  144386  148507  136044  137552  2144289
2020-08-14  127400  131068  107247  111268  6180014

In [18]:
train_bill = stock.get_market_fundamental_by_date(fromdate="20200808", todate="20210808",ticker="096530")

In [19]:
train_bill.shape

(247, 6)

In [20]:
train_bill.head()

             BPS     PER        PBR   EPS   DIV  DPS
날짜
2020-08-10  5815  302.83  53.430000  1026  0.03  100
2020-08-11  5815  292.40  51.590000  1026  0.03  100
2020-08-12  5815  280.51  49.490002  1026  0.03  100
2020-08-13  5815  266.76  47.070000  1026  0.04  100
2020-08-14  5815  215.79  38.070000  1026  0.05  100

- DIV (배당수익률) : (주가배당금 / 주가) * 100
- BPS (주당순자산가치=청산가치) : 순자산 / 총발행주식수
- PER (주가수익비율) : 주가 / 주당순이익 
- EPS (주당순이익) : 당기순이익 / 총발행주식수 
- PBR (주가순자산비율) = 주가 / BPS = PER*EPS / BPS

In [21]:
train_company = stock.get_market_trading_value_by_date(fromdate="20200808", todate="20210808",ticker="096530")

In [22]:
train_company.shape

(247, 5)

In [23]:
train_company.head()

                   기관합계        기타법인           개인        외국인합계  전체
날짜
2020-08-10  -3060664600   599511700   5923075900  -3461923000   0
2020-08-11 -17224116400  2192340100  20737606200  -5705829900   0
2020-08-12  -8486588000   538686900  12068195900  -4120294800   0
2020-08-13  -6585879100  -632463500   7683932000   -465589400   0
2020-08-14  -4831234000   285861800 -63105844600  67651216800   0

In [25]:
train_company_2.head()

,금융투자,보험,투신,사모,은행,기타금융,연기금,기타법인,개인,외국인,기타외국인,전체
날짜,,,,,,,,,,,,
2020-08-10,-1361325700,-61966200,-525259900,-730280200,-95412000,0,-286420600,599511700,5923075900,-3642910500,180987500,0
2020-08-11,-12717975600,-1099919800,-2374794000,-538157300,0,0,-493269700,2192340100,20737606200,-5072353400,-633476500,0
2020-08-12,-3122241200,-533620500,-2691539500,-189962100,-247209400,0,-1702015300,538686900,12068195900,-3975803700,-144491100,0
2020-08-13,-771211400,11803500,-2774927300,382044400,0,0,-3433588300,-632463500,7683932000,309635100,-775224500,0
2020-08-14,-292014400,-671895700,122281600,118603400,-20464400,-6412500,-4081332000,285861800,-63105844600,66615198000,1036018800,0

- 참고

2.1.1.11 투자자별 순매수 상위종목

In [27]:
# stock.get_market_net_purchases_of_equities_by_ticker("20210115", "20210122", "KOSPI", "개인")

2.1.1.12 종목별 시가 총액 조회

In [28]:
# stock.get_market_cap_by_ticker("20200625")
# stock.get_market_ticker_name("096530")

            종가             시가총액       거래량          거래대금       상장주식수
티커
005930   51900  309831714345000  18541624  970494909540  5969782550
000660   84300   61370599369500   3397112  287640892200   728002365
207940  815000   53924475000000    163339  133594217000    66165000
035420  269500   44268984952500   1196267  325381436500   164263395
068270  316000   42640845660000    918369  291688043500   134939385
...        ...              ...       ...           ...         ...
001529   30450       2732034900      2426      73806550       89722
238500     481       2252121846     10841       5711160     4682166
208890     999       2148669180       127        115157     2150820
267810    1150       1779050000      1300       1395000     1547000
224020     450       1215000000         2           900     2700000

[2475 rows x 5 columns]

2.1.1.14 티커별 외국인 보유량 및 외국인 한도소진률

In [33]:
# stock.get_exhaustion_rates_of_foreign_investment_by_ticker('20200703')

In [34]:
stock.get_exhaustion_rates_of_foreign_investment_by_date(fromdate="20200808", todate="20210808",ticker="096530")

               상장주식수     보유수량        지분율      한도수량      한도소진율
날짜
2020-08-10  26234020  3602719  13.726562  26234020  13.726562
2020-08-11  26234020  3603954  13.742188  26234020  13.742188
2020-08-12  26234020  3562648  13.578125  26234020  13.578125
2020-08-13  26234020  3454358  13.171875  26234020  13.171875
2020-08-14  26234020  3489395  13.296875  26234020  13.296875
...              ...      ...        ...       ...        ...
2021-08-02  52225994  6679965  12.789062  52225994  12.789062
2021-08-03  52225994  6808151  13.039062  52225994  13.039062
2021-08-04  52225994  6796201  13.007812  52225994  13.007812
2021-08-05  52225994  6665637  12.757812  52225994  12.757812
2021-08-06  52225994  6618548  12.671875  52225994  12.671875

[247 rows x 5 columns]

2.1.3.1 종목별 공매도 현황

In [35]:
stock.get_shorting_status_by_date(fromdate="20200808", todate="20210808",ticker="096530")

              거래량     잔고수량        거래대금          잔고금액
날짜
2020-08-10   4690   360076  1462931000  111875613200
2020-08-11  19419   341756  5956011100  102526800000
2020-08-12  10310   294991  3013341300   84898409800
2020-08-13   9368   304218  2622424900   83264466600
2020-08-14  28724   200457  6794825600   44381179800
...           ...      ...         ...           ...
2021-07-29  40064  2869760  2897417700  206622720000
2021-07-30  40869  2866834  2890237200  200678380000
2021-08-02  44502  2770342  3222034600  199187589800
2021-08-03  59904  2795057  4283526100  204598172400
2021-08-04  42161  2838152  3057269800  205198389600

[245 rows x 4 columns]

In [36]:
stock.get_shorting_balance_by_date(fromdate="20200808", todate="20210808",ticker="096530")

              공매도잔고     상장주식수         공매도금액          시가총액    비중
날짜
2020-08-10   360076  26234020  111875613200  8.150910e+12  1.37
2020-08-11   341756  26234020  102526800000  7.870206e+12  1.30
2020-08-12   294991  26234020   84898409800  7.550151e+12  1.12
2020-08-13   304218  26234020   83264466600  7.180251e+12  1.16
2020-08-14   200457  26234020   44381179800  5.808212e+12  0.76
...             ...       ...           ...           ...   ...
2021-07-29  2869760  52225994  206622720000  3.760272e+12  5.49
2021-07-30  2866834  52225994  200678380000  3.655820e+12  5.49
2021-08-02  2770342  52225994  199187589800  3.755049e+12  5.30
2021-08-03  2795057  52225994  204598172400  3.822943e+12  5.35
2021-08-04  2838152  52225994  205198389600  3.775939e+12  5.43

[245 rows x 5 columns]

2.1.3.7 공매도 거래비중 상위 50 종목

In [38]:
# stock.get_shorting_volume_top50("20210129")
# stock.get_shorting_volume_top50("20210129", "KOSDAQ")

필요한 정보는 모두 받아 왔음.